html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family:$font;
    background: url(\build\img\backgroundB.webp) repeat fixed ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 120rem;
}
.text-center{
    text-align: center;
}

h1{
    font-size: 3.8rem;
    
}

h2{
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 2rem 0;
}

h3{
    font-size: 2.8rem;
}

p{
    font-size: 2.2rem;
}

a{
    text-decoration: none;
    color: $dark;
}

.button{
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: .5rem;
    background-color: $yellow;
    border: none;
}