//Font
$font:'Overpass', sans-serif;

//Media Query Size
$telephone : 480px;
$tablet: 768px;
$desktop:1024px;

//Separation
$separation: 5rem;

//Colors
$dark : #000000;
$white: #ffffff;
$blue: #4f679f;
$grey: #333333;
$yellow:rgb(249, 163, 18);

//Font size
$regular: 400;
$bold: 700;
$black: 900;
