.about-me{
    background-color: $grey;
    padding-bottom:4rem ;
    color: $white;

    .about-me-content{
        
         @include tablet{
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 2rem;
            align-items: center;
        }
        img{
        width: 90%;
        border-radius: 50%;
        margin-left: 1rem;
        }
        p:first-of-type{
            margin-top:0 ;
            
        }
    }
}   

    